body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.interactives {
  position: absolute;
  bottom: 2vh;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  background-color: #ffffff41;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: cubic-bezier(0.2, 0.8, 0.2, 1) 1s;
}

.button:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
