body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.lower {
  bottom: 2vh;
  left: 0;
  width: 100%;
}

.upper {
  top: 2vh;
  right: 0;
  padding: 5px;
}

.interactives {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  background-color: #ffffff41;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: cubic-bezier(0.2, 0.8, 0.2, 1) 1s;
}

.button:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.086);
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.modal-content {
  width: 50%;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: rgb(245, 245, 245) 1px solid;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5%;
  border-bottom: rgba(245, 245, 245, 0.511) 1px solid;
}

.modal-header h2 {
  font-size: 30px;
  color: whitesmoke
}

.modal-body {
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
}

#close {
  font-size: 45px;
  transition: all ease-in-out 0.3s;
  color: rgba(245, 245, 245, 0.547);
}

#close:hover {
  transform: scale(0.9) rotate3d(0, 0, 1, 90deg);
  color: #fff;
  cursor: pointer;
}

#link {
  width: 80%;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  outline: none;
  padding: 1vh 2vh;
  margin-bottom: 1vh;
}

.selection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

#span-dropdown {
  background: transparent;
  color: #fff;
  padding: 0 2vh 0 3vh;
  margin-left: 10px;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  border: whitesmoke 0.5px dashed;
}

option {
  color: black;
  border-radius: 5px;
}